/****************
GENERAL
****************/

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 1.75em;
}

h2 {
  font-weight: 200;
  font-size: .75em;
}

p {
  font-weight: 200;
}

/****************
COLORS
****************/

.bg-green {
  background-color: #6ab47b;
}

.border-bottom-green {
  border-bottom: solid 5px #599a68;
}

.active,
.nav-link:hover {
  color: #32673f !important;
}

a, a:hover {
  color: #222020 !important;
}

/****************
MEDIA QUERIES
****************/
